<ul>
  <% @collections.each do |c| %>
    <li><%= link_to(c.path, collection_path(c.id), :target => '_top') %> <%= link_to("Delete", collection_path(c.id), :method => :delete) %></li>
  <% end %>
</ul>
<p><%= link_to "Add collection...", collections_path, :method => :post %></p>