* { margin: 0; padding: 0; }
body {  padding: 20px; }
body, input, select, textarea, table, tr, td { font: 100%/1.3em Helvetica, Arial, sans-serif; }

#header { margin-bottom: 20px; }
#search { width: 300px; }

#books li { width: 200px; height: 420px; margin: 0 20px 20px 0; float: left; list-style-type: none; }
#books .title { font-weight: bold; }
#books .tag_list { min-height: 1.2em; }
#books .tag_list:hover { background-color: #ffffdd; }
#books input { width: 100%; }
/*#books .tags form { display: none; }*/

#import_and_update { float: right; }