<% content_for :head do %>
  <%= javascript_include_tag 'show' %>
  <script type="text/javascript">
  var pages = <%= raw @book.page_paths.to_json %>;
  </script>
<% end %>

<img src="/images/blank.png" id="image">
<div id="page-back" class="paginator">◀</div>
<div id="page-next" class="paginator">▶</div>
<div id="page-back-10" class="paginator">◀◀</div>
<div id="page-next-10" class="paginator">▶▶</div>
<div id="page-home" class="paginator">❌</div>
