<% content_for :head do %>
  <%= stylesheet_link_tag 'show' %>
  <script type="text/javascript">
  var pages = <%= raw @book.page_paths.map { |path| URI.escape(path) }.to_json %>;
  </script>
  <%= javascript_include_tag 'show' %>  
<% end %>

<img src="/images/blank.png" id="image">

<%= link_to("<span>◀</span>".html_safe, "#", :id => 'previous_page_link') %>