* { font-family: 'Open Sans', Helvetica, Arial, sans-serif; }
body { color: #000000; }
img { border: none; vertical-align: middle; }
p, ul { margin-bottom: 1.3em; }

.clear { clear: both; }

@media screen and (max-width: 844px) {
  .desktop-only { display: none; }
}

.table {
  width: auto;
}