<!DOCTYPE html>
<html xmlns="">
  <head>
    <title>Manga Reader</title>
    <%= stylesheet_link_tag 'style', 'formtastic', 'formtastic_changes', 'secondary' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
